
.matc-container {
    background-color: #f5f5f5;
    padding: 10px 5px;
    width: 100%;
    ;
}

.ckeditor-container {
    border: 2px solid #2f9cda;
    border-radius: 5px;
    margin-bottom: 20px;
}