.MyMessageBox{
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #f6f6f6;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .2s linear;
    cursor: pointer;
    flex-direction: row;
}
.MyMessageBox:hover{
    background-color: #efefef;
    box-shadow: 0px 5px 5px 0px #8080802b;

    transition: all .1s linear;
}


.MMB-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}
.MMB-right img{
    width: 80px;
    height: 80px;
    border: 2px solid #bebebe;
    border-radius: 50%;
    box-shadow: 0px 6px 6px 1px #c5c5c5;
}

.MMB-text{
    width: 80%;
    color: #555;
    font-size: 14px;
    padding-top: 20px;
}

.MMB-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;

}
.MMB-name{
    color: #c3c3c3;
    font-size: 14px;
    margin-top: 10px;
}

.MMB-date{
    color: #888;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}





@media screen and (max-width: 700px){

  

}



@media screen and (max-width: 500px){
    .MyMessageBox{
        flex-direction: column-reverse
    }
}