
.DesignerMessage{
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 40px 30px;
}
.DesignerMessage-title{
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    direction: rtl;
    color: #bababa;
}
.DesignerMessage-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px ;
    flex-direction: column;
}


