.DesignerProject{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .2s linear;
    cursor: pointer;
}
.DesignerProject:hover{
    background-color: #FFFAE1;
    box-shadow: 0px 5px 5px 0px #8080802b;

    transition: all .1s linear;
}

.DPT-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.DPT-right img{
    min-height: 180px;
    border: 2px solid #E7E7E7;
    border-radius: 30px;

}
.DPT-right-title{
    text-align: right;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    padding: 10px 0px;
    direction: rtl;
    width: 100%;
    
}

.DPT-right-text h1{
    font-size: 20px;
}

.DPT-right-text{
    width: 80%;
}

.DPT-right-tags{
    display: flex;
    direction: rtl;
}
.DPT-right-tags p{
    border: 2px solid #ababab;
    height: 30px;
    width: unset;
    min-width: 60px;
    padding: 0px 20px;
    font-weight: 900;
    margin-left:10px; 
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #ababab;
    cursor: pointer;
}
.DPT-status-box{
display: flex;
margin-bottom: 10px;
align-content: center;

}

.project-image {
    width: 150px;
    height: 150px;
    background-image: url('../../../assets/icons/ly.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border:1px solid #ececec;
    border-radius: 5px;
    padding: 10px;



}

.finish {
    background-color:#E74C3C;

}


.DPT-icons{
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px;
    align-items: center;
}
.DPT-icons img{
    width: 15px;
    margin: 5px;
}
.DPT-icons p{
    padding: 5px 0px;
}

.DPT-icon{
    display: flex;
    align-items: center;
    text-align: right;
    width: 100%;
    justify-content: flex-end;
}
.DPT-desabled{
    background-color: transparent !important;
    color: #eee !important;
    border: 2px solid #eee !important;
}


@media screen and (max-width: 1100px){

    .DPT-right-text{
        width: 100%;
    }
    
}

@media screen and (max-width: 1000px){

.DPT-right-text h1 {
    font-size: 15px;
}
.Completed , .Working , .Pending{
    margin-right: 10px;
}

}

@media screen and (max-width: 700px){

    .DesignerProject{
        flex-direction: column-reverse;
        padding: 0;
        position: relative;
    }
    .DPT-left{
        width: 100%;
        position: unset;
    }
    .DPT-icons{
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .DPT-icon{
        display: flex;
    justify-content: center;
    }
    .DPT-right{
        padding: 40px 20px 20px;
    }
    .DPT-right-text{
        width: 100%;
    }
    .DPT-price{
        top: 0; 
        border-radius: 0px 0px 10px 0px;
    }
    .DPT-left .button-box{
        width: 90%;
        margin:0px auto;
    }
    .DPT-left .button-style{
        width: 100%;
    }
    .DPT-right-text h1 {
        font-size: 18px;
    }
    .DPT-right-text h1 {
        font-size: 12px;
    }

}


@media screen and (max-width: 500px){

.DPT-right{
    flex-direction: column;
    padding: 20px;
}
.DPT-right img{
    width: 100%;
    border-radius: 10px;
}
.DPT-price {
    position: unset;
    border-radius: 30px;
    width: 90%;
    border: 2px solid #ebebeb;
    background-color: #f9f9f9;
}
.DPT-left{
    align-items: center;
}
.DPT-icons{
    padding: 0px;
}
.DPT-icons p{
    font-size: 10px;
}
}